body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #363537;
	--card-heigh: 300px;
	--card-aspect-ratio: 0.70;
	--card-miniature-height: 150px;
	--attack-color: #EA2B1F;
	--defense-color: #858786
}
