.hud {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: row;

	.hud-left-side {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100%;
	}

	.hud-right-side {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 50%;
		height: 100%;
	}
}
