.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 5%;

	.imageSlot {
		position: relative;
		display: flex;
		height: 80%;
		justify-content: center;

		.animationWrapper {
			height: 100%;
		}

		img {
			height: 100%;
			aspect-ratio: 1;
			border: outset 3px grey;
			box-sizing: border-box;
		}
	}

	.nameSlot {
		font-size: 2rem;
		height: 20%;
		display: flex;
		align-items: center;
		justify-content: center;

		p {
			margin: 0;
		}
	}

	.hp {
		position: absolute;
		bottom: -20px;
		right: -20px;
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.hp .icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		color: red;
	}

	.hp .value {
		position: relative;
		z-index: 2;
		color: white;
		font-weight: bold;
		font-size: 16px;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	}
}
