.container {
	width: 100%;
	aspect-ratio: 1;
	position: relative;
	font-size: 1.75rem;

	.image {
		width: 100%;
	}

	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 700;
	}
}
